<!DOCTYPE html>
{% extends 'salarie.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block salarie %}
    <section class="section" style="margin-top: 3em">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <div class="d-grid gap-1 mt-2" style="margin-bottom: 3em;" >
                  <form action="{% url 'listeSalarie' %}" method="post">
                      {% csrf_token %}
                     <input type="submit" value="+ Ajouter un salarié" class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4">
                  </form>
              </div>

              <!-- Table with stripped rows -->
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                  <!--<div class="datatable-top" style="margin-bottom: 2em">
                    <div class="datatable-dropdown">
                        <label>

                            <select class="datatable-selector" style="border-radius: 14px">
                                <option value="5" style="border-radius: 14px">Tous les salariés </option>
                                <option value="5">Départements</option>
                                <option value="5">Genre</option>
                                <option value="5">5</option>
                            </select>

                        </label>
                    </div>
                    <div class="datatable-search">
                        <input class="datatable-input" placeholder="Search..." type="search" title="Search within table" style="border-radius: 14px">
                    </div>
                </div>-->
                <div class="datatable-container">
                    <table class="table datatable datatable-table">
                        <thead>
                            <tr>

                                <th data-sortable="true" style="width: 25%;">
                                    <a href="#" class="datatable-sorter">Name</a>
                                </th>
                                <th data-sortable="true" style="width: 25%;">
                                    <a href="#" class="datatable-sorter">Département</a>
                                </th>
                                <th data-sortable="true" style="width: 25%;">
                                    <a href="#" class="datatable-sorter">Poste</a>
                                </th>
                                <th data-sortable="true" style="width: 25%;">
                                    <a href="#" class="datatable-sorter">Date d'embauche</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for salarie in salaries %}
                            <tr data-index="0">
                                    <td><a href="{% url 'creationSalarie' salarie.id %}">{{salarie.nom}} {{salarie.prenom}}</a></td>
                                    <td>{{salarie.departement}}</td>
                                    <td>{{salarie.poste}}</td>
                                    <td>{{salarie.dateEmbauche}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="datatable-bottom">
                    <div class="datatable-info">
                        Total de personnes : {{total_salaries}}
                    </div>

                    <nav class="datatable-pagination">
                        <ul class="datatable-pagination-list"></ul>
                    </nav>
                </div>
            </div>
          </div>
              <!-- End Table with stripped rows -->
        </div>
      </div>
      </div>
    </section>
{% endblock salarie %}
</body>
</html>